<h5>Add Product Infromation</h5>
<form action="/products/addproducts/<%=storeId%>" method="POST">
    <div>
        <input type="hidden" name="email" value="<%= locals.user.email%>">
    </div>
    <div>
        <input type="hidden" name="storeid" value="<%=storeId%>">
    </div>
    <br><br>
    <div>           
        <label>Product Name:</label>
        <input type="text" name="productname">
    </div> <br><br>
    <div>
        <label>Price:</label>
        <input type="test" name="price">
    </div> <br><br>
    
    <div>
        <label>Product Pic:</label>
        <input type="file" name="filename"  >
    </div>
    <br>
    <br>
    <input class="button" type="submit" value="submit">
</form>