

<h5>Add Store Infromation</h5>
<form action="/users/mystores" method="POST"  >
    <div>
        <input type="hidden" name="email" value="<%= locals.user.email%>">
    </div>
    <br><br>
    <div>
        <label>Store Name:</label>
        <input type="text" name="storename">
    </div> <br><br>
    <div>
        <label>Description:</label>
        <input type="test" name="description">
    </div> <br><br>
    
    <div>
        <label>Store Category</label>
        <select name="type" id="">
            <option value="medical">Medical</option>
            <option value="food">Food</option>
            <option value="fashion">Fashion</option>
            <option value="Furniture">Furniture</option>
        </select>
    </div><br><br>
    <div>
        <label>Store Pic:</label>
        <input type="file" name="filename"  >
    </div>
    <br>
    <br>
    <input class="button" type="submit" value="submit">
</form>