<br>


<h2>Create an account</h2>

<form id="regForm" action="/users/create" method="POST">
    <br>
    <div>
        <label>Email Address </label>
        <input type="email" name="email" value="">
    </div><br>
    <div>
        <label>Password </label>
        <input type="password" name="password" value="">
    </div><br>
    <div>
        <label>Confirm Password </label>
        <input type="password" name="confirmpassword" value="">
    </div><br>
    <div>
        <label>Name</label>
        <input type="text" name="name" value="">
    </div><br>
    <br>
    <div>
        <label>Street Address:</label>
        <input type="text" name="street_address" value="">
    </div><br>
    <div>
        <label>City </label>
        <input type="text" name="city" value="">
    </div><br>
    <div>
        <label>State </label>
        <input type="text" name="state" value="">
    </div><br>
    <div>
        <label>Zip </label>
        <input type="text" name="zip" value="">
    </div><br>
    <div>
        <label>Phone No </label>
        <input type="text" name="phoneno" value="">
    </div><br>
    <div>
       
        <input type="submit" value="Signup">
    </div>
</form>
    